.dish_block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.dish {
    padding: 30px 40px 30px 40px;
    background-color: white;
    border-radius: 35px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    cursor: pointer;
}

.dish:hover {
    border: 2px solid tomato;
}

.dish img {
    height: auto;
    width: auto;
    border-radius: 35px;
}

.dish div {
    text-align: center;
}

.price {
    font-size: 24px;
}

.name {
    font-size: 20px;
}

.weight {
    color: rgb(88, 88, 88);
}

button {
    background: #f1eee9;
    margin-top: auto;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
}

button:hover {
    color: rgb(255, 145, 0);
}
