.card-container {
    display:grid;
    grid-template-columns: repeat(3, 33%);
    gap: 20px;
    max-width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    max-width: 100%;
    background-color: #e0e0e06b;
}
.card img {
    width: 90%;
    align-self: center;
    margin-block: 5%;
    height: auto;
    border-radius: 50px;
    cursor: pointer;
}
.card:hover {
    border:2px solid #4CAF50;
}

.card p {
    margin: 0 0 0 5%;
}
.card p:nth-of-type(1){
    font-size: 2rem;
}

.card p:nth-of-type(2){
    color: #4CAF50;
    text-align: center;
    margin-right: 20px;
}

.card h2 {
    margin: 0 5% 0 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card button {
    width: 80%;
    align-self: center;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 5%;
    padding: 10px 30px 10px 30px;
    border: None;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.card button:hover {
    background-color: #4CAF50;;
    color: rgb(255, 255, 255);
}